.invalid-feedback {
  text-align: left;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
  margin-bottom: 20px;
}

.form-group.is-invalid {
  border: 1px solid #dc3545;
}

.slick-slide {
  height: auto;
}

.slick-slide img {
  height: auto;
  max-width: fit-content;
}

.slick-slider {
  margin: 0 -15px;
}
.slick-slide {
  padding: 10px;
  text-align: center;
  margin-right: 15px;
  margin-left: 15px;
}

.img-select {
  border: 3px solid blue;
}
