<div class="right-content">
  <h3>Products</h3>

  <button
    class="btn"
    style="float: right; margin-bottom: 7px; margin-left: 5px"
    data-keyboard="false"
    data-backdrop="static"
    (click)="onAddProduct()"
    hidden
  >
    Add Product
  </button>

  <button
    class="btn"
    style="float: right; margin-bottom: 7px"
    (click)="onAddImage()"
  >
    Upload Images
  </button>

  <div class="section-div">
    <table
      datatable
      [dtOptions]="dtOptions"
      [dtTrigger]="dtTrigger"
      class="display"
      id="users-list"
    >
      <thead>
        <tr>
          <th>Title</th>
          <th>Price</th>
          <th>Category</th>
          <th>Color</th>
          <th>Description</th>
          <th>Con No</th>
          <th>Shop No</th>
          <th>Item No</th>
          <th>Image</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody *ngIf="data?.length != 0">
        <tr *ngFor="let person of data; index as i">
          <td>{{ person.title }}</td>
          <td>{{ person.amount }}</td>
          <td>{{ person.category }}</td>
          <td>{{ person.color }}</td>
          <td>{{ person.description }}</td>
          <td>{{ person.con_no }}</td>
          <td>{{ person.shop_no }}</td>
          <td>{{ person.item_no }}</td>
          <td>
            <button class="btn" (click)="onImage(person.imagesPath)">
              View Image
            </button>
          </td>
          <td>
            <a href="javascript:void(0)" (click)="onEditProduct(person, i)">
              <img src="assets/edit-icon-table.svg" />
            </a>
            <a
              href="javascript:void(0)"
              (click)="onDelete(person.id)"
              style="margin-left: 5px"
            >
              <img src="assets/delete-icon.svg" />
            </a>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="data?.length == 0">
        <tr>
          <td colspan="8" class="no-data-available">No data!</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div id="imageModel" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close" id="model-close-btn" (click)="onClose()"
        >&times;</span
      >
    </div>
    <ngx-slick-carousel
      class="carousel"
      #slickModal="slick-carousel"
      [config]="slideConfig"
    >
      <div ngxSlickItem *ngFor="let slide of image" class="slide">
        <img src="{{ slide }}" alt="" width="100%" />
      </div>
    </ngx-slick-carousel>
  </div>
</div>

<div id="addImage" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close" id="model-close-btn" (click)="onClose()"
        >&times;</span
      >
      <div class="col-12" style="float: right">
        <div class="btn-btm-inr-tabs text-center my-3">
          <button class="btn" *ngIf="isLoading; else submitImage">
            <ng-container>
              <div
                class="loader"
                style="margin: auto; height: 20px; width: 20px"
              ></div>
            </ng-container>
          </button>

          <ng-template #submitImage>
            <button
              #submitProduct
              class="btn"
              type="submit"
              [hidden]="isLoading"
              [disabled]="!button"
              (click)="onImageUpload(selectCat.value)"
            >
              Upload Image
            </button>
          </ng-template>
          <button
            type="button"
            class="btn"
            style="margin-left: 5px"
            (click)="onClose()"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>
    <div class="modal-body">
      <form class="row comn-form">
        <div class="col-md-6 form-group" style="margin-top: 10px">
          <label for="category">Select category --> </label>
          <select #selectCat name="" id="category">
            <option *ngFor="let cat of category" value="{{ cat }}">
              {{ cat }}
            </option>
          </select>
        </div>
        <div class="col-md-6 form-group" style="margin-top: 10px">
          <input
            type="file"
            id="file"
            #userPhoto
            (change)="onImageSelect($event)"
            accept="image/*"
            multiple
          />
          <ngx-slick-carousel
            *ngIf="fb"
            class="carousel"
            #slickModal="slick-carousel"
            [config]="slideConfigImg"
          >
            <div
              ngxSlickItem
              *ngFor="let slide of fb; index as i"
              class="slide"
            >
              <span
                class="close-img"
                id="model-close-btn"
                (click)="onImageClose(i)"
                >&times;</span
              >
              <img src="{{ slide }}" alt="" width="100%" />
            </div>
          </ngx-slick-carousel>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- <div id="addModel" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close" id="model-close-btn" (click)="onClose()"
        >&times;</span
      >
      <div class="col-12" style="float: right">
        <div class="btn-btm-inr-tabs text-center my-3">
          <button class="btn" *ngIf="isLoading; else submitProduct">
            <ng-container>
              <div
                class="loader"
                style="margin: auto; height: 20px; width: 20px"
              ></div>
            </ng-container>
          </button>

          <ng-template #submitProduct>
            <button
              #submitProduct
              class="btn"
              type="submit"
              [hidden]="isLoading"
              (click)="onSubmit()"
            >
              Save
            </button>
          </ng-template>
          <button
            type="button"
            class="btn"
            style="margin-left: 5px"
            (click)="onClose()"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>
    <div class="modal-body">
      <form class="row comn-form" [formGroup]="userForm">
        <div class="col-md-6 form-group">
          <strong class="lbl-class">Title :</strong>
          <input
            type="text"
            name=""
            class="form-control input-style"
            formControlName="title"
            [ngClass]="{
              'is-invalid': submitted && f.title.errors
            }"
            style="margin-top: 5px"
          />
          <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
            <div *ngIf="f.title.errors.required">Title is required</div>
          </div>
        </div>
        <div class="col-md-6 form-group" style="margin-top: 10px">
          <strong class="lbl-class">Amount :</strong><br />
          <input
            type="number"
            name=""
            class="form-control input-style"
            formControlName="amount"
            [ngClass]="{
              'is-invalid': submitted && f.amount.errors
            }"
            style="margin-top: 5px"
          />
          <div *ngIf="submitted && f.amount.errors" class="invalid-feedback">
            <div *ngIf="f.amount.errors.required">Amount is required</div>
          </div>
        </div>
        <div class="col-md-6 form-group" style="margin-top: 10px">
          <strong class="lbl-class">Category :</strong>
          <input
            type="text"
            name=""
            class="form-control input-style"
            formControlName="category"
            [ngClass]="{
              'is-invalid': submitted && f.category.errors
            }"
            style="margin-top: 5px"
          />
          <div *ngIf="submitted && f.category.errors" class="invalid-feedback">
            <div *ngIf="f.category.errors.required">Category is required</div>
          </div>
        </div>
        <div class="col-md-6 form-group" style="margin-top: 10px">
          <strong class="lbl-class">Color :</strong>
          <input
            type="text"
            name=""
            class="form-control input-style"
            formControlName="color"
            [ngClass]="{
              'is-invalid': submitted && f.color.errors
            }"
            style="margin-top: 5px"
          />
          <div *ngIf="submitted && f.color.errors" class="invalid-feedback">
            <div *ngIf="f.color.errors.required">Color is required</div>
          </div>
        </div>
        <div class="col-md-6 form-group" style="margin-top: 10px">
          <strong class="lbl-class">Description :</strong>
          <input
            type="text"
            name=""
            class="form-control input-style"
            formControlName="description"
            [ngClass]="{
              'is-invalid': submitted && f.description.errors
            }"
            style="margin-top: 5px"
          />
          <div
            *ngIf="submitted && f.description.errors"
            class="invalid-feedback"
          >
            <div *ngIf="f.description.errors.required">
              Description is required
            </div>
          </div>
        </div>
        <div class="col-md-6 form-group" style="margin-top: 10px">
          <ngx-slick-carousel
            *ngIf="image1"
            class="carousel"
            #slickModal="slick-carousel"
            [config]="slideConfigImg"
          >
            <div
              ngxSlickItem
              [class.img-select]="selected[i]"
              *ngFor="let slide of image1; index as i"
              (click)="[(selected[i] = !selected[i]), onImgSelect(slide)]"
            >
              <img src="{{ slide }}" alt="" width="100%" />
            </div>
          </ngx-slick-carousel>
        </div>
      </form>
    </div>
  </div>
</div> -->

<div id="editModel" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close" id="model-close-btn" (click)="onClose()"
        >&times;</span
      >
      <div class="col-12">
        <div class="btn-btm-inr-tabs text-center my-3">
          <button class="btn" (click)="onPrev()">Prev</button>
          <button class="btn" style="margin-left: 5px" (click)="onNext()">
            Next
          </button>
        </div>
      </div>
      <div class="col-12" style="float: right">
        <div class="btn-btm-inr-tabs text-center my-3">
          <button class="btn" *ngIf="isLoading; else submitProduct">
            <ng-container>
              <div
                class="loader"
                style="margin: auto; height: 20px; width: 20px"
              ></div>
            </ng-container>
          </button>

          <ng-template #submitProduct>
            <button
              #submitProduct
              class="btn"
              type="submit"
              [hidden]="isLoading"
              (click)="onEditSubmit()"
            >
              Save
            </button>
          </ng-template>
          <button
            type="button"
            class="btn"
            style="margin-left: 5px"
            (click)="onClose()"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="editData" class="modal-body">
      <form class="row comn-form" [formGroup]="userForm">
        <div class="col-md-6 form-group" style="margin-top: 10px">
          <ngx-slick-carousel
            *ngIf="image1"
            class="carousel"
            #slickModal="slick-carousel"
            [config]="slideConfigImg"
          >
            <div ngxSlickItem *ngFor="let slide of image1; index as i">
              <span
                class="close-img"
                id="model-close-btn"
                (click)="onEditImageClose(i)"
                >&times;</span
              >
              <img src="{{ slide }}" alt="" width="100%" />
            </div>
          </ngx-slick-carousel>
        </div>
        <div class="col-md-6 form-group">
          <strong class="lbl-class">Title :</strong>
          <input
            type="text"
            name=""
            class="form-control input-style"
            [placeholder]="editData.title"
            formControlName="title"
            style="margin-top: 5px"
          />
        </div>
        <div class="col-md-6 form-group" style="margin-top: 10px">
          <strong class="lbl-class">Price :</strong><br />
          <input
            type="number"
            name=""
            class="form-control input-style"
            [placeholder]="editData.amount"
            formControlName="amount"
            style="margin-top: 5px"
          />
        </div>
        <div class="col-md-6 form-group" style="margin-top: 10px">
          <strong class="lbl-class">Con No :</strong><br />
          <input
            type="number"
            name=""
            class="form-control input-style"
            [placeholder]="editData.con_no"
            formControlName="con_no"
            style="margin-top: 5px"
          />
        </div>
        <div class="col-md-6 form-group" style="margin-top: 10px">
          <strong class="lbl-class">Shop No :</strong><br />
          <input
            type="number"
            name=""
            class="form-control input-style"
            [placeholder]="editData.shop_no"
            formControlName="shop_no"
            style="margin-top: 5px"
          />
        </div>
        <div class="col-md-6 form-group" style="margin-top: 10px">
          <strong class="lbl-class">Item No :</strong><br />
          <input
            type="number"
            name=""
            class="form-control input-style"
            [placeholder]="editData.item_no"
            formControlName="item_no"
            style="margin-top: 5px"
          />
        </div>
        <div class="col-md-6 form-group" style="margin-top: 10px">
          <strong class="lbl-class">Category :</strong><br />
          <select
            name=""
            class="form-control input-style"
            formControlName="category"
            style="margin-top: 5px"
          >
            <option disabled [selected]="editData.category">
              {{ editData.category }}
            </option>
            <option *ngFor="let cat of category" value="{{ cat }}">
              {{ cat }}
            </option>
          </select>
        </div>
        <div class="col-md-6 form-group" style="margin-top: 10px">
          <strong class="lbl-class">Color :</strong>
          <input
            type="text"
            name=""
            class="form-control input-style"
            [placeholder]="editData.color"
            formControlName="color"
            style="margin-top: 5px"
          />
        </div>
        <div class="col-md-6 form-group" style="margin-top: 10px">
          <strong class="lbl-class">Description :</strong>
          <input
            type="text"
            name=""
            class="form-control input-style"
            [placeholder]="editData.description"
            formControlName="description"
            style="margin-top: 5px"
          />
        </div>
        <div class="col-md-6 form-group" style="margin-top: 10px">
          <input
            type="file"
            id="file"
            #userPhoto
            (change)="onImageSelect($event)"
            accept="image/*"
            multiple
          />
          <ngx-slick-carousel
            *ngIf="fb"
            class="carousel"
            #slickModal="slick-carousel"
            [config]="slideConfigImg"
          >
            <div
              ngxSlickItem
              *ngFor="let slide of fb; index as i"
              [class.img-select]="selected[i]"
              (click)="[(selected[i] = !selected[i]), onImgSelect(slide)]"
            >
              <span
                class="close-img"
                id="model-close-btn"
                (click)="onImageClose(i)"
                >&times;</span
              >
              <img src="{{ slide }}" alt="" width="100%" />
            </div>
          </ngx-slick-carousel>
        </div>
      </form>
    </div>
  </div>
</div>
