.invalid-feedback {
  text-align: left;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
  margin-bottom: 20px;
}

.form-group.is-invalid {
  border: 1px solid #dc3545;
}

.slick-slide {
  height: auto;
}

.slick-slide img {
  height: auto;
  max-width: fit-content;
}

.slick-slider {
  margin: 0 -5px;
}
.slick-slide {
  text-align: center;
  margin-right: 5px;
  margin-left: 5px;
}

.img-select {
  border: 1.5px solid blue;
}
