<div class="right-content">
  <h3>
    <a [routerLink]="['/product']" [routerLinkActive]="'active'">Products</a>
    &nbsp; | &nbsp;
    <a [routerLink]="['/order']" [routerLinkActive]="'active'">Orders</a>
  </h3>

  <div class="section-div">
    <table
      datatable
      [dtOptions]="dtOptions"
      [dtTrigger]="dtTrigger"
      class="display"
      id="users-list"
    >
      <thead>
        <tr>
          <th>Customer Id</th>
          <th>Email/PhoneNumber</th>
          <th>First name</th>
          <th>Last Name</th>
          <th>Location</th>
          <th>Orders</th>
          <th>Total Deposite</th>
          <th>Total Purchase</th>
          <th>Total PDF</th>
          <th>View PDF</th>
        </tr>
      </thead>
      <tbody *ngIf="data?.length != 0">
        <tr *ngFor="let person of data; index as i">
          <td>{{ person.id }}</td>
          <td>{{ person.emailOrMobile }}</td>
          <td>{{ person.firstName }}</td>
          <td>{{ person.lastName }}</td>
          <td>{{ person.location }}</td>
          <td>{{ person.orders }}</td>
          <td>{{ person.totalDeposit }}</td>
          <td>{{ person.totalPurchase }}</td>
          <td>{{ person.totalPdf }}</td>
          <td>
            <button class="btn" (click)="onViewPdf(person.id)">Show PDF</button>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="data?.length == 0">
        <tr>
          <td colspan="8" class="no-data-available">No data!</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
